@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&display=swap');
@-webkit-keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
body {
  background: url('background_boat.jpeg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  -webkit-animation: show 2s 1;
}
.spacer {
  height: 150px;
}
.container {
  max-width: 500px;
  margin: auto;
  text-align: right;
  color: white;
  border: 1px solid white;
  padding: 2rem;
}
.styles {
  max-width: 500px;
  margin: auto;
  text-align: right;
  color: white;
  padding: 1rem;
}
h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
h2 {
  font-family: 'Dancing Script', cursive;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 4rem;
}
span {
  font-family: 'Bebas Neue', cursive;
}
.fa {
}

@media only screen and (min-width: 600px) {
  .spacer {
    height: 200px;
  }
}

@media only screen and (min-width: 900px) {
  .spacer {
    height: 300px;
  }
}