@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Permanent+Marker&family=Press+Start+2P&display=swap');
body {
  background-color: black !important;
  background: url('background_retro.jpeg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
}
.spacer {
  height: 50px;
}
.container {
  max-width: 500px;
  margin: auto;
  text-align: right;
  color: rgb(255, 255, 0);
  border: 5px solid rgb(255, 0, 255);
  padding: 2rem;
  display: none;
}
.styles {
  max-width: 500px;
  margin: auto;
  text-align: right;
  color: rgb(255, 0, 255);
  padding: 1rem;
}
h1 {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 4rem;
  color: rgb(255, 0, 255);
}
h3 {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
h4 {
  font-family: 'Permanent Marker', cursive;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 2rem;
  color: rgb(255, 255, 0);
}
span, p, a {
  font-family: 'Press Start 2P', cursive;
  color: rgb(255, 0, 255);
  font-size: 0.7rem;
}
img {
  width: 70%;
  padding: 4rem;
  background: url('triangle.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.fa {
  color: rgb(255, 255, 0);
  margin-right: 0.3rem;
}
.styles .fa::before {
  font-size: 2.5rem;
}
.styles .fa:hover {
  color: rgb(255, 0, 255);
}
a:hover{
  color: rgb(255, 255, 0);
}
a:active {
  color: rgb(255, 0, 255);
}
@media only screen and (min-width: 600px) {
  .spacer {
    height: 100px;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  .styles .fa::before {
    font-size: 2rem;
  }
  span, p, a {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 900px) {
  .spacer {
    height: 150px;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  .styles .fa::before {
    font-size: 1rem;
  }
  span, p, a {
    font-size: 0.9rem;
  }
}