@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@900&family=Edu+VIC+WA+NT+Beginner&family=Wire+One&display=swap');
body {
  background-color: rgb(59, 59, 59) !important;
  background: url('background_star.jpeg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.spacer {
  height: 50px;
}
.container {
  max-width: 500px;
  margin: auto;
  text-align: right;
  color: white;
  border-style:solid hidden;
  border-color: white;
  border-width: 3px;
  padding: 2rem;
  display: none;
}
.styles {
  max-width: 500px;
  margin: auto;
  text-align: right;
  color: white;
  padding: 1rem;
}
h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
h2 {font-family: 'Edu VIC WA NT Beginner', cursive;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 4rem;
}
h3 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
h4 {font-family: 'Edu VIC WA NT Beginner', cursive;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 2rem;
}
span, p, a {
  font-family: 'Wire One', sans-serif;
  color: white;
  font-size: 1.5rem;
}
img {
  width: 100%;
  padding: .3rem 0;
  border-style: solid hidden;
  border-color: white;
  border-width: 3px;
}
img:hover {
  border-color: rgb(128, 128, 128);
}
.fa{}
.styles .fa::before, .styles span {
  font-size: 2.5rem;
}
.styles .fa:hover {
  color: rgb(128, 128, 128);
}
a:hover{
  color: rgb(128, 128, 128);
}
a:active {
  color: white;
}
@media only screen and (min-width: 600px) {
  .spacer {
    height: 100px;
  }
  .styles .fa::before, .styles span {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 900px) {
  .spacer {
    height: 150px;
  }
  .styles .fa::before, .styles span {
    font-size: 1rem;
  }
}