@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Permanent+Marker&family=Press+Start+2P&display=swap');
@-webkit-keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
body {
  background: url('background_retro.jpeg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  -webkit-animation: show 2s 1;
}
.spacer {
  height: 50px;
}
.container {
  max-width: 500px;
  margin: auto;
  text-align: right;
  color: rgb(255, 0, 255);
  border: 1px solid rgb(255, 255, 0);
  padding: 2rem;
}
.styles {
  max-width: 500px;
  margin: auto;
  text-align: right;
  color: rgb(255, 0, 255);
  padding: 1rem;
}
h1 {
  font-family: 'Monoton', cursive;
  font-size: 5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 4rem;
  color: rgb(255, 255, 0);
}
span {
  font-family: 'Press Start 2P', cursive;
  color: rgb(255, 0, 255);
  font-size: 0.6rem;
}
.fa {
  color: rgb(255, 255, 0);
  margin-right: 0.3rem;
  }

@media only screen and (min-width: 600px) {
  .spacer {
    height: 100px;
  }
}

@media only screen and (min-width: 900px) {
  .spacer {
    height: 150px;
  }
}